/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin-top: 20%;
    margin-left: 10%;
    
    
}

header {
    height: 8rem;
    background-color: #000000ed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-details-container {
    height: 3.6rem;
    top: 0.2rem;
    position: absolute;
    right: 0.2rem;
    width: 50%;
    display: flex;
    justify-content: space-between;
    border: 2px solid #0024d3;
    border-radius: 5px;
}

.user-container {
    display: flex;
    align-items: center;
}

.user-info {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
}

.user-icon,
.role-icon,
.time-icon,
.date-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    fill: #0024d3;
}

.date-time {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.date-time-info {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.user-container {
    display: flex;
    align-items: center;
}

.user-info {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
}

.user-icon,
.role-icon,
.time-icon,
.date-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

.date-time {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.date-time-info {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.currentTime,
.currentDate{
    
    margin-bottom: 0;
   }

.timer-control-container {
    height: 3.5rem;
    width: 50%;
    position: absolute;
    top: 4rem;
    right:0.2rem;
    display: flex;
    justify-content: space-between;
    border: 2px solid rgb(0, 36, 211);
    border-radius: 5px;
   
}


.form-switch {
    height: 100%;
    display: flex;
    align-items: center;
    
}

.form-check-input{
    position: absolute;
   margin-left: 12rem;
}


/* Unchecked state */
.form-check-input[type="checkbox"]:checked {
    
    background-color: rgb(218, 20, 20);
    border-color: rgb(218, 20, 20);
    
}

/* Checked state */
.form-check-input[type="checkbox"]:not(:checked) {
    background-color: #F1F1F1;
    border-color: #555555;
}

/* Slider appearance */
.form-check-input[type="checkbox"] {
width: 7vw; /* Adjust width as needed */
height: 70%; /* Adjust height as needed */
border-radius: 15px; /* Adjust border radius for rounded corners */
transition: background-color 0.3s, border-color 0.3s; /* Smooth transition */
}

/* Custom styling for the switch label */
.form-check-label {
    position: absolute;
    left: 0;
    font-family: 'Oswald', sans-serif;
    margin-left: 40px;
    font-size: 18px;
    font-weight: bold;
    color: #F1F1F1;
    line-height: 1.5;
    /* Add any additional styling properties you desire */
  }
.stop-reason-pop-up {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.stop-reason-pop-up.is-active {
    background-color: beige;
    display: flex;
}

.stop-reson-pop-up-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
}

.stop-reson-pop-up-close {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
}

/* Form styles */
.form-label {
    font-weight: bold;
}

.form-select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.custom-reason-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Stopwatch styles */
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
}


.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease; /* Smooth transition for opening and closing */
    will-change: transform; /* Optimize for smoother animation */
}

.bottom-bar.open {
    transform: translateY(60px); /* Move the bar up when open */
}

/* Toggle button */
.toggle-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin-top: -20px; /* Adjust margin to align with the table */
}

.toggle-icon {
    width: 30px;
    height: auto;
    fill: #007bff;
    transition: transform 0.3s ease; /* Smooth transition for icon rotation */
}

.toggle-icon.open {
    transform: rotate(180deg); /* Rotate the arrow icon when the table is open */
}

/* Excel table */
.excel-table {
    position: fixed;
    bottom: -500px; /* Initial position */
    left: 0;
    width: 100%;
    max-height: 400px; /* Adjust max height as needed */
    overflow-y: auto;
    transition: bottom 0.3s ease; /* Smoother transition */
    backface-visibility: hidden; /* Enable hardware acceleration */
    will-change: transform; /* Optimize for smoother animation */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 998; /* Below the bottom bar */
}

.excel-table.open {
    bottom: 60px; /* Display table just above the bottom bar when open */
}


#pieChartContainer,
#columnChartContainer {
    flex-direction: column;
    margin-top: 20px;
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.chart-container {
    margin-bottom: 20px;
    max-width: 80%;
}

.custom-legend {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.legend-item {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.legend-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.legend-circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.legend-percentage {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #333;
}

.stop-reason-pop-up {

    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
}

.stop-reason-pop-up form {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.stop-reason-pop-up label {
    margin-bottom: 0.5rem;
}

.stop-reason-pop-up select {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.stop-reason-pop-up textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 5px;
    resize: none;
}

.stop-reason-pop-up button[type="submit"] {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.stop-reason-pop-up button[type="submit"]:hover {
    background-color: #0056b3;
}
.stop-reason-pop-up {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow: auto;
}

.popup-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-label {
    font-weight: bold;
}

.form-select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-primary {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.slide-button-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #888; /* Metallic color */
    transition: .4s;
    border-radius: 34px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); /* Inner shadow for depth */
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #ccc; /* Lighter metallic color */
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #555; /* Darker metallic color when checked */
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.status {
    margin-left: 10px;
    font-size: 18px;
    color: #fff; /* White text color */
}

.stopwatch-container {
    display: flex;
    align-items: center;
    right: 0.9rem;
    position: absolute;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.849);
    color: rgb(0, 36, 211);
  }
  
  #stopwatch {
    margin-right: 0.5rem;
    position: fixed;
    right: 3rem;
  }
  
  .watch-icon {
    animation: blink 2s infinite;
  }
  
  .watch-icon svg {
    fill: rgb(0, 36, 211);
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  
  